@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 24px;
    border-radius: 12px;
}

.display {
    width: auto;
    height: 120px;
    margin-bottom: 20px;
    padding: 6px 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 62px;
}

.buttons {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap: 10px;
}

#clear {
    grid-column: 1 / 5;
}